
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main img{
    width: 100%;
}
nav ul{
    display: flex;
    padding-left: 80px;
}
nav ul li{
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    padding: 20px;
    
}
header{
    padding-top: 30px;
    padding-left: 100px;
    border-bottom: solid 1px gainsboro;
    background-color:ghostwhite;
}
header h1{
    margin-bottom: 0;
}
header h3{
    margin-top: 10px;
    color: grey;
}
a {
    text-decoration: inherit;
    color: inherit;
  }
  a:hover {
    color: darkgrey;
  }
.info {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    
    
}

.left{
    width: 30%;
}

.right{ 
    width: 70%;
    padding-left: 40px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.icons img{
    margin: 25px;
    width: 150px;
    height: 150px;
}

footer{
    padding: 20px;
    display: flex;
    background-color:blueviolet;
    justify-content: space-around;
    margin-top: 50px;
    color:ghostwhite;
}

footer li{
    list-style: none;
    padding:10px;
    border-bottom: solid 1px rgb(152, 60, 238);
}

footer li:last-child
{
    border-bottom: none;
}
footer ul{
    padding: 0;
}

footer h3{
    padding-left: 10px;
    text-transform: uppercase;
}
#map{
    width:200px;
    height:300px;

}
header h2, main p {
    color: grey;
  }

@media screen and (max-width:500px) {
    .info {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
   
    }
    .left, .right{
        width: 100%;
        padding:0;
    }
    .icons img
    {
        
        width: 50px;
        height: 50px;
        flex-wrap: wrap;
    }
    footer{
        flex-wrap: wrap;
        justify-content:space-between
    }
    nav ul{
        padding-left:0;

    }
    header{
        padding-left: 10px;
    }
    nav ul li{
        font-weight:initial;
        font-size: 1em;
        list-style: none;
        padding: 20px;
        
    }
}